:root {
    --boxShadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    --darkColor: #222831;
    --greyColor: #393E46;
    --lightColor: #EEEEEE;
    --transition: 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--lightColor);
    color: var(--darkColor);
}

.f1 {
    flex: 1;
}

.f2 {
    flex: 2;
}

.f3 {
    flex: 3;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 40px;
    flex-wrap: wrap;
    gap: 40px;
}

i {
    color: var(--greyColor)
}

input[type='text'], input[type='url'], input[type='password'], textarea, button {
    border: 2px solid var(--lightColor);
    padding: 7px 30px;
    transition: var(--transition);
    box-shadow: var(--boxShadow);
}

button, .createPostBtn, .selectedSort, .selectedSort i {
    background-color: var(--darkColor);
    color: var(--lightColor);
    border: 2px solid var(--darkColor);
    transition: var(--transition);
}

input[type='checkbox'] {
    max-width: 20px;
}

input:hover {
    background-color: var(--lightColor);
    border: 2px solid var(--lightColor);
}

button:hover, .createPostBtn:hover {
    background-color: var(--lightColor);
    color: var(--darkColor);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, var(--greyColor) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

input:focus {
    border: 2px solid var(--greyColor);
    outline: none;
}

::placeholder {
    color: #c9c6c6;
    text-align: center;
}

.startPage {
    height: 100vh;
}

header h2, header h1 {
    font-size: 5vw;
}

header h2 {
    font-weight: 900;
    background: -webkit-linear-gradient(45deg, #DBE2EF, #3F72AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
    height: 80px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--lightColor);
    z-index: 1;
}

.nav .navUserLogo {
    border-bottom: 2px solid var(--lightColor);
}

.navUserLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--darkColor)
}

.navUserLogo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.navLinksDiv {
    display: flex;
    float: left;

}

.burgerMenu {
    display: none;
}

.navLinks {
    float: left;
    text-decoration: none;
    width: 10vw;
    height: 100%;
    border-bottom: 2px solid var(--lightColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    cursor: pointer;
    color: var(--darkColor);
}

.allUsers {
    display: none;
}

.navLinks:hover, .active {
    border-bottom: 2px solid var(--darkColor);
}

.box {
    box-shadow: var(--boxShadow);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--lightColor);
}

.form {
    padding: 40px;
    gap: 20px;
    width: 80%;
    margin: auto;
}

.formSpan {
    font-style: italic;
    cursor: pointer;
    transition: var(--transition);
}

.formSpan:hover {
    text-decoration: underline;
}

.profilePage {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 100px 20px 20px 20px;
}

.profilePage .box {
    box-shadow: none;
}

.profileBox {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    max-width: 60vw;
}

.profileImgDiv {
    max-width: 100%;
}

.profileImgDiv img, .postImage img, .modalImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.postTitle {
    height: 50px;

}

.postImage img {
    object-fit: cover;
}

.close {
    top: -15px;
    right: -15px;
    cursor: pointer;
    transition: var(--transition);
}

.close:hover {
    color: lightgrey;
}

.contentPage {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 100px 20px 20px 20px;
}

.usersSideBar {
    position: fixed;
    width: 300px;
    overflow-y: auto;
    top: 80px;
    bottom: 0;
    right: 10px;
}

.wordBreak {
    word-break: break-word;
}

.postsCont {
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sortCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.messagesPage .singleUser, .usersSideBar .singleUser {
    transition: var(--transition);
    box-shadow: none;
    padding: 5px;
}

.usersSideBar .singleUser {
    margin: 5px;
}

.openPostCont .singleUser {
    box-shadow: none;
    padding: 0;
}

.openPostCont .singleUser img {
    margin: 0 10px 10px 0;
}

.online {
    top: 50px;
    left: 45px;
}

.openPostCont .singleUser .online,
.openPostCont .messageModal .online {
    top: 40px;
    left: 35px;
}


.openPostCont .singleUser .username {
    font-size: x-large;
}

.messagesPage .singleUser:hover, .usersSideBar .singleUser:hover {
    background-color: white;
}

.usersSideBar .singleUser button {
    font-size: small;
    padding: 5px;
}

.singleUser .navUserLogo {
    width: 100%;
    justify-content: start;
    gap: 10px;
}

.myModal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
    background-color: var(--lightColor);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.messageModal .navUserLogo {
    height: auto;
}

.sortBtn > div, .createPostBtn {
    min-width: 150px;
    border: 1px solid grey;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    height: 50px;
    padding: 5px 5px;
}

.createPostBtn {
    min-width: 250px;
}

.sortBtn:hover, .sortBtn:hover i {
    background-color: var(--darkColor);
    color: var(--lightColor)
}

.allPosts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.allUsersPage .singleUser {
    width: 400px;
}

.singlePost {
    max-width: 300px;
    cursor: pointer;
    transition: var(--transition);
}

.singlePost:hover {
    transform: scale(105%);
}

.openPostCont, .openPostInputDiv {
    display: flex;
}

.openPostCont .openPostInputDiv input, .form input, .inputs input {
    width: 100%;
}

.openPostCont {
    padding: 10px;
    height: 95%;
}

.openPostCont h2 {
    margin-top: 0.5rem;
    min-height: 100px;
    word-break: break-word;
}

.commentsDiv {
    height: 20vh;
    overflow: auto;
    background-color: white;
    padding: 5px;
    box-shadow: var(--boxShadow);
    border-radius: 10px 10px 0 0;
}

.commentsDiv .messageBox {
    width: 95%;
}

.postImage {
    width: 260px;
    height: 300px;
}

.postModal .modal-content {
    height: 90%;
    width: 80%;
}

.modalImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sortInactive {
    background-color: #cecccc;
    opacity: 0.4;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    border-radius: 5px;
}

.chatBox {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.inputs {
    display: flex;
}

.messagesPage .singleUser {
    cursor: pointer;
    min-width: 120px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--greyColor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--darkColor);
}

.conversations {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80vh;
    overflow: auto;
}

.messageBox {
    padding: 5px;
    margin: 5px;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    font-size: small;
}

.messageBox > div {
    display: flex;
    gap: 5px;
}

.message {
    word-break: break-all;
}

.hover i, .hover span {
    transition: var(--transition);
}

.hover:hover i, .hover:hover span {
    color: white;
}

.date {
    font-size: small;
    font-style: italic;
}

.error {
    font-size: small;
    text-align: center;
}

@media (max-width: 1180px) {
    .createPostBtn {
        width: 100%;
    }

    .sortCont div:nth-child(1) {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .nav .navLinks, .usersSideBar {
        display: none;
    }

    .mainNav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burgerMenu, .allUsers {
        display: block;
    }

    .nav {
        position: relative;
    }

    .nav.responsive {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .nav.responsive .navLinksDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav.responsive .navLinks {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }

    .profilePage {
        align-items: center;
    }

    .contentPage {
        padding: 20px;
        justify-content: center;
    }

    .messagesPage {
        flex-direction: column;
        margin: auto;
    }

    .conversations {
        flex-direction: row;
        overflow-x: auto;
    }

    .arrow {
        transform: rotate(90deg);
    }

    .profileBox {
        flex-direction: column;
        max-width: 100%;
        margin: auto;
    }

    .postsCont {
        padding: 20px;
    }

    .openPostCont {
        overflow: auto;
        flex-direction: column;
        align-items: center;
    }

    .commentsDiv {
        overflow: unset;
        height: auto;
    }

    .commentsLikes {
        flex-direction: column-reverse;
    }

    .commentsLikes h4 {
        margin-top: 0.5rem;
    }

    .postModal {
        padding-top: 0;
    }

    .postModal .modal-content {
        height: 100%;
        padding-bottom: 40px;
    }
}